<div id='fgp'>
  <form id='fgpf' action="javascript:fgpf()" method="post" >{% csrf_token %}
  	Question
  	  <br>
  	  <input name="qu" id="fgpqu" type="text" value='{{ ques }}' disabled=true/>
  	  <br><br>
  	Answer
  	  <br>
  	  <input name="ans" id="fgpans" type="text"/>
  	  <br><br>
  	Password
      <br>
      <input name="pw" id="fgppw" type="password" onblur="fgppassval(this.value)"/>
      <br><br>
    Confirm Password
      <br>
      <input name="cpw" id="fgpcpw" type="password" onkeyup="fgppasscheck(this.value)"/>
      <br><br>
  	<input name="sub" id="fgpsub" type="submit" value="Save" disabled=true/>
  	<input name="return" id="fgpreturn" type="hidden" value="{{ return }}" />
	<input name="cancel" id="fgpcancel" type="button" value="Cancel" onclick="login()" />
	<input name="mail" id="fgpmail" type="hidden" value="{{ email }}">
	<div id="message" >
	  If Password is sucessfully changed, Redirected to login page. Next login to your account. 
	</div>
  </form>
  <div id='fgpres'>
  </div>
</div>
